# Clustering Neighborhoods in Toronto
### Assignment Week 3 - Applied Data Science Capstone - Markus Kessler

## Web Scraping

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# send requests

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')

In [3]:
# read out table

data = soup.tbody.find_all('tr')
table = []

for item in data:
    table.append(item.text.split('\n'))

raw_df = pd.DataFrame(table)
raw_df

,0,1,2,3,4,5,6,7,8
0,,Postal code,,Borough,,Neighborhood,,None,None
1,,M1A,,Not assigned,,,,None,None
2,,M2A,,Not assigned,,,,None,None
3,,M3A,,North York,,Parkwoods,,None,None
4,,M4A,,North York,,Victoria Village,,None,None
...,...,...,...,...,...,...,...,...,...
176,,M5Z,,Not assigned,,,,None,None
177,,M6Z,,Not assigned,,,,None,None
178,,M7Z,,Not assigned,,,,None,None
179,,M8Z,,Etobicoke,,Mimico NW / The Queensway West / South of Bloo...,,None,None
180,,M9Z,,Not assigned,,,,None,None

In [4]:
#  preprocess the data
cpc_df = raw_df.copy()
cpc_df.drop(columns=[0, 2, 4, 6, 7, 8], inplace=True)
new_header = [cpc_df.iloc[0]]
cpc_df = cpc_df[1:]
cpc_df.columns = ['Postal code', 'Borough', 'Neighborhood']

filter = cpc_df[['Borough']] != 'Not assigned'
cpc_df = cpc_df[filter['Borough']]
cpc_df

,Postal code,Borough,Neighborhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,Regent Park / Harbourfront
6,M6A,North York,Lawrence Manor / Lawrence Heights
7,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
161,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
166,M4Y,Downtown Toronto,Church and Wellesley
169,M7Y,East Toronto,Business reply mail Processing CentrE
170,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
179,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

## Geographical Data

In [ ]:
import geocoder # import geocoder

lat_lng_coords = None
latitudes = []
longitudes = []

for pc on cpc_df['Postal codes']
    while(lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(pc))
    lat_lng_coords = g.latlng

    latitudes.append(lat_lng_coords[0])
    longitudes.append(lat_lng_coords[1])

cpc_df['Latitudes'] = latitudes
cpc_df['Longitudes'] = longitudes

In [12]:
# Downloaded the file, as geocoder didn't seem to work

coord_df = pd.read_csv(r'C:\Users\Markus\OneDrive\Arbeit\Data Science\Coursera Notebooks\Coursera_Capstone\Geospatial_coordinates.csv')
coord_df #zip_df = cpc_df.zip(coord_df)

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]